<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no" />
	<title>Testowa strona</title>
	<link rel="stylesheet" href="../css/index.scss" />
</head>

<body>
	<main id="vue">
		<button @click="changeView">{{button}}</button>

		<div>
			<div v-for="(man, index) of json" class="friend" v-bind:class="{'--yes': man.friend == true}">
				<img :src=man.photo :alt='man.name +" "+ man.surname'><br>
				{{man.name}} {{man.surname}}, {{man.age}} lat

				<div v-if="changeThis">

					{{man.email}}<br>
					{{man.address.street}}, {{man.address.zipcode}}, {{man.address.city}}<br>

					<div v-if="!man.friend">
						<button @click="addFriend(index)">Dodaj znajomego</button>
					</div>

				<br>

					<div class="inline" v-bind:class="{'hide': man.likes == 0}">
						<button @click="minusLike(index)">-</button>
					</div>

					{{man.likes}}

					<div class="inline">
						<button v-on:click="plusLike(index)" v-bind:disabled="man.likes == 21">+</button>
					</div>

					<br><br>
					

					<div v-for="interest of man.interests">
						{{interest}}
					</div>

				</div>

			</div>
		</div>
		

	</main>
	<script src="../js/index.js"></script>
</body>

</html>