<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no" />
	<title>Testowa strona</title>
	<link rel="stylesheet" href="../css/index.scss" />
</head>

<body>
	<main id="vue">
		<button @click="changeView">{{button}}</button>
		<div>
			<hr>
			<div>Dodaj znajomego:</div>

			<label for="newName">Imię:</label>
			<input type="text" name="newName" v-model=newUser.name><br>

			<label for="newSurname">Nazwisko:</label>
			<input type="text" name="newSurname" v-model=newUser.surname><br>

			<label for="newAge">Wiek:</label>
			<input type="number" name="newAge" v-model=newUser.age><br>

			<button type="button" @click="addNewUser">Dodaj znajomego</button>
		</div>
		<hr>

		<div>
			<div v-for="(man, index) in json" class="friend" v-bind:class="{'--yes': man.friend == true}">
				<img :src=man.photo :alt='man.name +" "+ man.surname'><br>
				{{man.name}} {{man.surname}}, {{man.age}} lat

				<div v-if="changeThis">

					{{man.email}}<br>
					<div v-if="man.address.street && man.address.zipcode && man.address.city">
						{{man.address.street}}, {{man.address.zipcode}}, {{man.address.city}}<br>
					</div>

					<div v-if="!man.friend">
						<button @click="addFriend(man)">Dodaj znajomego</button>
					</div>

					<br>

					<div class="inline" v-bind:class="{'hide': man.likes == 0}">
						<button @click="minusLike(man)">-</button>
					</div>

					{{man.likes}}

					<div class="inline">
						<button v-on:click="plusLike(man)" v-bind:disabled="man.likes == 21">+</button>
					</div>

					<br><br>

					<div v-for="(interest, index) in man.interests">
						{{interest}}
					</div>

					<br>

					<label for="interest">Dodaj zainteresowanie</label><br>
					<input type="text" name="interest" v-model="newInterest[index]" lazy>
					<button v-on:click="addInterest(man,index)" type="button">Dodaj</button>
				</div>
			</div>
		</div>

	</main>
	<script src="../js/index.js"></script>
</body>

</html>